body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
}

#app {
    width: 60%; /* Adjust the width as per your preference */
    margin: 50px auto; /* Center the container horizontally */
    background-color: #fff; /* White background for the container */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}

h1 {
    text-align: center;
}


/*CI DESSOUS HEADER*/

header {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px 0; /* Top and bottom padding */
    text-align: center; /* Center-align the content */
}

h1 {
    margin: 0; /* Remove default margin */
    font-size: 2em; /* Adjust the font size */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove right margin for the last list item */
}

nav ul li a {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em; /* Adjust the font size */
}

nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}